# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env


ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDb8vcHdQXbAXnOZ+9rSAlQZimldEOYhPHQfCHrl/rc7ck31rrnOt8PcMdZsu+5tUALKe2lt1122e0AzWUyCBco4cvHt/Zqnm9srgerB5OZfrqXYEliibn6B+KuQ3WY0IQ8/A4WfvLQoPUflVocH5ks8HCwZgCoEsh2ex4bLk9hMp9NkAlAg1xvkVQNZYzJmOLqVr5qCKeWmqHW/fFAtUCjN2DL9DGJi9/A2UHzZv4qyMZx+rTrW4hFe1z5dosFz/Q1Tmgkk1X3qrq4wUXVAO0Ix7jUBmQXIey5q+CoFe6tlOnB1RN6sawidL1oKIgAtJ04bRprq1nG5h2kYpjSoiZcaWOStZwGVCu53shO9ivRTVFjA1ZcPLVX1BlW9NYlXHlnGLcFS7Cl+fW2fH0lQd/kVl0Sj0NHopgxKYhHdypD+dTCKvUTJfw0ZZ209GJ2/ASRvEXCtgGGDiFL9EKa1Obpv1HpVJuke589879R2Kh5NU7vwjpmStt58dsPOqVVQ8QwIB1IH9OS9ZMEy9iI8oneSxPcgZDbCvPt7k118h2koSzIthb+DWVR5twotu/Y6Qo9wIsRRm8d+CqfEKGQJ8NbgduvmXcMOf2TG6XRt2474OXPjj0ypI/XBIPotYEJXsnK0d/aN3aIMZ+qHdSCa6lOnPCI8Hcwo5CWCb6rWTmxtQ== muhammad.yazib@ideofuzion.com
haris@nabeel-hp-probook-450-g5:~/Blockchain/foundry/foundry-DeFi-StableCoin$ 
